* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 2rem;
    background-color: #eee;
}
.carousel {
    width: 800px;
    overflow: hidden;
}
.imgs {
    display: flex;
    margin-bottom: .5rem;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

img {
    width: 800px;
}
